.form-group
  %form#number{method: "post", name: "number"}
    %input#_csrf_token{name: "_csrf_token", type: "hidden", value: "#{Plug.CSRFProtection.get_csrf_token()}"}
    #form_contents
      %span.instructions
        = "Enter a block height, e.g. 1325614, or the start of a bitcoin address, e.g. #{ @address_str }"
      = text_input :blocks, :num, value: @address_str
      = submit "submit", id: "blocks_show_submit_button", class: "btn btn-primary"
      %br
      %span{ id: "blocks_please_wait_message", name: "blocks_please_wait_message", style: "visibility: hidden; color: #FF7F50" }
        = "Please wait..."
      %br

      = @block |> mark_up_block |> raw

:javascript
  // HAML for Phoenix generates the wrong Javascript - instead, see Javascript files in assets/js
