%span.instructions
  = "Transactions which refer to address #{ @address }"
%br
%br

#transactions

  - alias BlockChainExplorer.Utils
  - if Utils.notmt? @transactions do
    - for num <- 0..tuple_size( @transactions ) - 1 do
      - transaction = elem @transactions, num
      %p.transaction_block
        = transaction |> mark_up_transaction |> raw
        %b Outputs:
        %br
        = transaction.outputs |> mark_up_outputs |> raw
        %b Inputs:
        %br
        = transaction.inputs |> mark_up_inputs |> raw

.form-group
  = text_input :transactions, :address, type: :hidden, value: @address
  = submit "press for more transactions", id: "transactions_submit_button", class: "btn btn-primary"

#more_transactions
  = "transactions should appear here"
