%span.instructions
  = "Transaction #{ @transaction.txid }"
%br
%br

%ul
  %p.transaction_block{ style: "border-style: solid;" }
    = @transaction |> mark_up_transaction |> raw
  %p.inputs_outputs_block{ style: "border-style: dashed;" }
    %b Outputs:
    %br
    = @transaction.outputs |> mark_up_outputs |> raw
  %p.inputs_outputs_block{ style: "border-style: dashed;" }
    %b Inputs:
    %br
    = @transaction.inputs |> mark_up_inputs |> raw
