%span.instructions
  = "Transaction #{ @transaction.txid }"
%br

%ul
  %p.solid{ style: "border-style: solid;" }
    = @transaction |> mark_up_transaction |> raw
  %p.solid{ style: "border-style: dotted;" }
    %b Outputs:
    %br
    = @transaction.outputs |> mark_up_outputs |> raw
  %p.solid{ style: "border-style: dotted;" }
    %b Inputs:
    %br
    = @transaction.inputs |> mark_up_inputs |> raw
